{% extends '../main.twig' %}
{% block main %}
	<main class="page">
		<ul class="catalog-list">
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">Мужская одежда</h2>
				<ul class="catalog-list__item-list">
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Футболки</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Худи</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Обувь</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">Головные уборы</h2>
						<ul class="catalog-list__goods-list">
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Панамы</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Шапки</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">Женская одежда</h2>
				<ul class="catalog-list__item-list">
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Футболки</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Худи</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Обувь</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">Головные уборы</h2>
						<ul class="catalog-list__goods-list">
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Панамы</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Шапки</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">Детская одежда</h2>
				<ul class="catalog-list__item-list">
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Футболки</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Худи</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">
							<a href="#" class="catalog-list__good-list__link">Обувь</a>
						</h2>
					</li>
					<li class="catalog-list__item-list">
						<h2 class="catalog-list__item-list__title">Головные уборы</h2>
						<ul class="catalog-list__goods-list">
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Панамы</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
							</li>
							<li class="catalog-list__good-list__list-item">
								<a href="#" class="catalog-list__good-list__link">Шапки</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">
					<a href="#" class="catalog-list__good-list__link">Аксессуары</a>
				</h2>
			</li>
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">
					<a href="#" class="catalog-list__good-list__link">Новинки</a>
				</h2>
			</li>
			<li class="catalog-list__item">
				<h2 class="catalog-list__title">
					<a href="#" class="catalog-list__good-list__link">Акции</a>
				</h2>
			</li>
		</ul>
	</li>
</ul></main>{% endblock %}
