{% extends '../main.twig' %}
{% block main %}
	<main class="page">
		<div class="swiper-container container">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="swiper-content swiper-content--one">
							<div class="container">
								<div class="swiper-content__text-wrapper swiper-content__text-wrapper--one">
									<h2 class="swiper-content__title swiper-content__title--one">
										Накопительная система cкидок*:
									</h2>
									<p class="swiper-content__subtitle swiper-content__subtitle--one">- при заказе от 100 000 ₽ -
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--one">3</span>
										%</p>
									<p class="swiper-content__subtitle swiper-content__subtitle--one">- при заказе от 250 000 ₽ -
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--one">4</span>
										%</p>
									<p class="swiper-content__subtitle swiper-content__subtitle--one">- при заказе от 500 000 ₽ -
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--one">5</span>
										%</p>
									<a href="#" class="swiper__content-link swiper__content-link--one">К покупкам</a>
									<a href="#" class="swiper__content-link-note">*скидка предоставляется на следующие заказы</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-content swiper-content--two">
							<div class="container">
								<div class="swiper-content__text-wrapper swiper-content__text-wrapper--two">
									<h2 class="swiper-content__title swiper-content__title--two">
										Нижнее<br>
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--two">белье</span>
									</h2>
									<p class="swiper-content__subtitle swiper-content__subtitle--two">по самым привлекательным ценам</p>
									<a href="#" class="swiper__content-link swiper__content-link--two">К покупкам</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-content swiper-content--tree">
							<div class="container">
								<div class="swiper-content__text-wrapper swiper-content__text-wrapper--tree">
									<h2 class="swiper-content__title swiper-content__title--tree">
										<span class="swiper-content__subtitle-span--tree">Аксесуссуары</span><br>
										Рюкзаки
									</h2>
									<a href="#" class="swiper__content-link swiper__content-link--two">К покупкам</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-content swiper-content--for">
							<div class="container">
								<div class="swiper-content__text-wrapper swiper-content__text-wrapper--for">
									<h2 class="swiper-content__title swiper-content__title--for">
										Бесплатная<br>
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--for">доставка</span><br>
									</h2>
									<p class="swiper-content__subtitle swiper-content__subtitle--for">на
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--for">2</span>
										заказ от
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--for">10 000 ₽</span>
									</p>
									<p class="swiper-content__subtitle swiper-content__subtitle--for">на каждый заказ от
										<span class="swiper-content__subtitle-span swiper-content__subtitle-span--for">10 000 ₽</span>
									</p>
									<a href="#" class="swiper__content-link swiper__content-link--for">К покупкам</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<section class="promo">
				<h2 class="visually-hidden">
					Ссылки на каталог с товарами онлайн магазина EWYS
				</h2>
				<div class="promo-container container">
					<div class="promo__wrapper">
						<div class="promo__left-container">
							<a href="#" class="promo__link promo__link--hits">
								<span class="promo__link-span">Хиты сезона</span>
							</a>
							<a href="#" class="promo__link promo__link--sale">
								<span class="promo__link-span">Скидки и акции</span>
							</a>
						</div>
						<div class="promo__right-container">
							<a href="#" class="promo__link promo__link--print">
								<span class="promo__link-span promo__link-span--right-block promo__link-span--right-block-color">Любой принт!</span>
							</a>
							<a href="#" class="promo__link promo__link--delivery">
								<span class="promo__link-span promo__link-span--right-block">Удобная доставка</span>
							</a>
						</div>
						<div class="promo__bottom-container">
							<a href="#" class="promo__link promo__link--bottom promo__link--womans">
								<span class="promo__link-span promo__link-span--bottom">Женская<br>одежда</span>
							</a>
							<a href="#" class="promo__link promo__link--bottom promo__link--mans">
								<span class="promo__link-span promo__link-span--bottom">Мужская<br>одежда</span>
							</a>
							<a href="#" class="promo__link promo__link--bottom promo__link--hats">
								<span class="promo__link-span promo__link-span--bottom">Головные<br>уборы</span>
							</a>
							<a href="#" class="promo__link promo__link--bottom promo__link--underwears">
								<span class="promo__link-span promo__link-span--bottom">Нижнее<br>бельё</span>
							</a>
							<a href="#" class="promo__link promo__link--bottom promo__link--accessories">
								<span class="promo__link-span promo__link-span--bottom">Аксессуары</span>
							</a>
							<a href="#" class="promo__link promo__link--bottom promo__link--jackets">
								<span class="promo__link-span promo__link-span--bottom">Куртки</span>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="sales">
				<div class="sales__containter container">
					<h2 class="sales__header">
						Товары
						<span class="sales__span">со скидкой</span>!
					</h2>
					<div class="sales__wrapper">
						<div class="sales__item">
							<img src="./images/sales-1.jpg" alt="Фото товара" class="sales__image" width="270" height="350px">
							<h3 class="sales__title">Панама женская
								<br>
								и мужская летняя весенняя</h3>
							<div class="sales__note">
								<span class="sales__articul">Арт.: 03982</span>
								<span class="sale__price">474₽</span>
							</div>
							<ul class="sales__buttons-list">
								<li class="sales__buttons-item">
									<span class="sales__button-note">В избранное</span>
									<button type="button" class="sales__button sales__button--favorite"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">Быстрый просмотр</span>
									<button type="button" class="sales__button  sales__button--view"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">В корзину</span>
									<button type="button" class="sales__button sales__button--by"></button>
								</li>
							</ul>
						</div>
						<div class="sales__item">
							<img src="./images/sales-2.jpg" alt="Фото товара" class="sales__image" width="270" height="350px">
							<h3 class="sales__title">Бейсболка женская, кепка мужская демисезон</h3>
							<div class="sales__note">
								<span class="sales__articul">Арт.: 140157564</span>
								<span class="sale__price-old">2287 ₽</span>
								<span class="sale__price">1287 ₽</span>
							</div>
							<ul class="sales__buttons-list">
								<li class="sales__buttons-item">
									<span class="sales__button-note">В избранное</span>
									<button type="button" class="sales__button sales__button--favorite"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">Быстрый просмотр</span>
									<button type="button" class="sales__button  sales__button--view"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">В корзину</span>
									<button type="button" class="sales__button sales__button--by"></button>
								</li>
							</ul>
						</div>
						<div class="sales__item">
							<img src="./images/sales-3.jpg" alt="Фото товара" class="sales__image" width="270" height="350px">
							<h3 class="sales__title">Нижнее белье женское комплект бесшовный в рубчик.</h3>
							<div class="sales__note">
								<span class="sales__articul">Арт.: 144957662</span>
								<span class="sale__price">495 ₽</span>
							</div>
							<ul class="sales__buttons-list">
								<li class="sales__buttons-item">
									<span class="sales__button-note">В избранное</span>
									<button type="button" class="sales__button sales__button--favorite"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">Быстрый просмотр</span>
									<button type="button" class="sales__button  sales__button--view"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">В корзину</span>
									<button type="button" class="sales__button sales__button--by"></button>
								</li>
							</ul>
						</div>
						<div class="sales__item">
							<img src="./images/sales-4.jpg" alt="Фото товара" class="sales__image" width="270" height="350px">
							<h3 class="sales__title">Рюкзак женский мужской школьный детский черный</h3>
							<div class="sales__note">
								<span class="sales__articul">Арт.: 157295287</span>
								<span class="sale__price">960 ₽</span>
							</div>
							<ul class="sales__buttons-list">
								<li class="sales__buttons-item">
									<span class="sales__button-note">В избранное</span>
									<button type="button" class="sales__button sales__button--favorite"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">Быстрый просмотр</span>
									<button type="button" class="sales__button  sales__button--view"></button>
								</li>
								<li class="sales__buttons-item">
									<span class="sales__button-note">В корзину</span>
									<button type="button" class="sales__button sales__button--by"></button>
								</li>
							</ul>
						</div>
					</div>

					<a href="#" class="sales__link">Все товары</a>
				</div>
			</section>
		</main>
	{% endblock %}
