{% extends '../main.twig' %}
{% block main %}
	<main class="page">
		<div class="swiper-container container">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="./images/banner-1.webp" alt=""></div>
					<div class="swiper-slide"><img src="./images/banner-2.webp" alt=""></div>
					<div class="swiper-slide"><img src="./images/banner-3.webp" alt=""></div>
					<div class="swiper-slide"><img src="./images/banner-4.webp" alt=""></div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</main>
{% endblock %}
