<ul class="catalog-list catalog-list--header" data-catalog-list>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="https://dzen.ru/?yredirect=true" class="catalog-list__good-list__link">Мужская одежда</a>
							</h2>
							<button type="button" class="catalog-list__button" data-catalog-button></button>
							<ul class="catalog-list__goods-list" data-sub-list-one>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Футболки</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Худи</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Обувь</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Головные уборы</a>
									</h2>
									<button type="button" class="catalog-list__button" data-catalog-button></button>
									<ul class="catalog-list__goods-list catalog-list__goods-list--header" data-sub-list-two>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Панамы</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Шапки</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="#" class="catalog-list__good-list__link">Женская одежда</a>
							</h2>
							<button type="button" class="catalog-list__button" data-catalog-button></button>
							<ul class="catalog-list__goods-list" data-sub-list-one>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Футболки</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Худи</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Обувь</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Головные уборы</a>
									</h2>
									<button type="button" class="catalog-list__button" data-catalog-button></button>
									<ul class="catalog-list__goods-list catalog-list__goods-list--header" data-sub-list-two>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Панамы</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Шапки</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="#" class="catalog-list__good-list__link">Детская одежда</a>
							</h2>
							<button type="button" class="catalog-list__button" data-catalog-button></button>
							<ul class="catalog-list__goods-list" data-sub-list-one>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Верхняя одежда</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Футболки</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Худи</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Обувь</a>
									</h2>
								</li>
								<li class="catalog-list__item-list-item">
									<h2 class="catalog-list__item-list__title">
										<a href="#" class="catalog-list__good-list__link">Головные уборы</a>
									</h2>
									<button type="button" class="catalog-list__button" data-catalog-button></button>
									<ul class="catalog-list__goods-list catalog-list__goods-list--header" data-sub-list-two>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Панамы</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Бейсболки</a>
										</li>
										<li class="catalog-list__good-list__list-item">
											<a href="#" class="catalog-list__good-list__link">Шапки</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="#" class="catalog-list__good-list__link">Аксессуары</a>
							</h2>
						</li>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="#" class="catalog-list__good-list__link">Новинки</a>
							</h2>
						</li>
						<li class="catalog-list__item" data-catalog-item>
							<h2 class="catalog-list__title">
								<a href="#" class="catalog-list__good-list__link">Акции</a>
							</h2>
						</li>
					</ul>
