.about__container {
	padding: 72px 0 0 30px;

	@include mobile {
		padding: 0 0 34px;
	}
}

.about__header {
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	color: $color-gray;

	@include mobile {
		margin: 0 0 25px;
		padding: 0 20px;
		font-weight: 400;
	}
}

.about__header-wrapper {
	display: flex;

	@include mobile {
		padding: 0 20px;
	}
}

.about__image {
	width: 41px;
	height: 41px;
	margin-top: -5px;
}

.about__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	padding: 19px 0 0;
	list-style: none;
	color: $color-gray;

	@include mobile {
		display: flex;
		padding: 0;
	}
}

.about__list-item {
	margin-bottom: 35px;

	@include mobile {
		width: 100%;
	}
}

.about__header-span {
	color: $color-green;
}

.about__title {
	position: relative;
	margin: 0 5px 15px 0;
	padding: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	font-family: "Montserrat-Regular", serif;
	color: $color-gray;

	@include mobile {
		margin: 0 -4px 15px 0;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
	}
}

.about__subtitle {
	margin: 0;
	padding: 0 20px 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", serif;

	@include mobile {
		padding: 0 20px;
	}
}
