.card-containter {
	padding: 100px 0 0 30px;

	@include mobile {
		padding: 20px 10px 40px;
	}
}

.card-header {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	font-family: "Lato-Regular", sans-serif;
	color: $color-gray;
}

.card-span {
	font-weight: 900;
	font-family: "Lato-Heavy", sans-serif;
	color: $color-green;
}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 10px;
	padding-top: 40px;

	@include mobile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 10px;
		margin: 0 auto;
		padding-top: 20px;
	}
}

.card-image {
	position: relative;
	border-radius: 6px;

	@include mobile {
		position: relative;
	}
}

.card-title {
	margin: 0;
	padding: 10px 0 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
	color: $color-gray;

	@include mobile {
		padding: 12px 0 4px;
		font-size: 14px;
		line-height: 16px;
	}
}

.card-articul {
	color: rgba(51, 51, 51, 0.2);

	@include mobile {
		font-size: 12px;
		line-height: 14px;
	}
}

.card-price {
	font-weight: 600;
	font-size: 24px;
	font-family: "Montserrat-SemiBold", serif;
	color: $color-gray;

	@include mobile {
		align-self: flex-end;
		padding-top: 5px;
		font-size: 20px;
	}
}

.card-item {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 270px;
	margin-bottom: 20px;

	@include mobile {
		justify-self: center;
		margin-bottom: 23px;
	}

	&:hover {
		.card-buttons-list {
			display: block;
		}
	}

	&--mobile-hidden {
		@include mobile {
			display: none;
		}
	}
}

.card-note {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: auto;

	@include mobile {
		flex-direction: column;
		margin: 0;
	}
}

.card-price-old {
	font-size: 16px;
	text-decoration: line-through;
	color: rgba(51, 51, 51, 0.5);

	@include mobile {
		margin-right: 3px;
		font-size: 14px;
	}
}

.card-link {
	position: relative;
	display: block;
	max-width: 110px;
	margin-left: auto;
	padding-right: 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	font-family: "Lato-Semibold", sans-serif;
	text-decoration: none;
	color: $color-gray;

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		right: 30px;
		width: 20px;
		height: 20px;
		background-color: $color-gray;
		mask-image: url("../images/sprite.svg#arrow-card");

		@include mobile {
			right: 0;
		}
	}

	@include mobile {
		padding: 0;
	}
}

.card-buttons-list {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	color: $color-white;

	@include mobile {
		top: 6px;
		right: 6px;
	}
}

.card-button-note {
	margin-right: 5px;
	padding: 3px 8px;
	background-color: rgb(172, 172, 172, 0.2);
	border-radius: 6px;
	backdrop-filter: blur(15px);
	cursor: pointer;
	user-select: none;

	@include mobile {
		width: 70px;
		padding: 3px 6px;
		text-align: center;
	}
}

.card-buttons-label {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 4px;

	&:hover {
		.card-button-note,
		.card-button {
			background-color: rgb(172, 172, 172, 0.8);
		}
	}

	&:active {
		.card-button-note,
		.card-button {
			background-color: rgba(133, 132, 132, 0.8);
		}
	}

	@include mobile {
		margin-bottom: 1px;
	}
}

.card-button {
	width: 30px;
	height: 30px;
	background-color: rgb(172, 172, 172, 0.2);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	border: none;
	border-radius: 6px;
	backdrop-filter: blur(15px);
	cursor: pointer;

	&--view {
		background-image: url("../images/sprite.svg#eye");
	}

	&--by {
		background-image: url("../images/sprite.svg#shop");
		background-size: 30px 30px;
	}

	&--favorite {
		background-image: url("../images/sprite.svg#favorite");
	}
}

.card-grade {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: block;
	padding: 5px 5px 5px 26px;
	font-size: 12px;
	line-height: 14px;
	color: $color-white;
	background-color: rgb(172, 172, 172, 0.2);
	background-image: url("../images/sprite.svg#grade");
	background-repeat: no-repeat;
	background-position: -69px 2px;
	border-radius: 6px;
	backdrop-filter: blur(15px);

	@include mobile {
		bottom: 5px;
		left: 5px;
		width: 77px;
		padding: 3px 10px 3px 33px;
		background-position: -40px 2px;
	}
}

.card__position-span {
	position: relative;
}
