.catalog {
	display: grid;
	grid-template-columns: 280px 1fr;

	@include mobile {
		display: block;
	}
}

.catalog__right-wrapper {
	position: relative;
	padding: 93px 15px 80px 35px;

	@include mobile {
		position: relative;
		padding: 0 10px;
	}
}

.catalog__good-title {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
}

.catalog-list-wrapper {
	padding: 40px 0 0 16px;

	@include mobile {
		display: none;
	}
}

.catalog__list-goods {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 30px;
	margin: 0;
	padding: 33px 0 0;
	list-style: none;

	&--two-columns {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 10px;
	}
}

.catalog-list {
	margin: 0;
	padding: 40px 0 0;
	list-style: none;
	font-size: 16px;
	line-height: 22px;

	@include mobile {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: stretch;
		padding: 80px 25px 0;
		background-color: $color-white;
	}

	&--header {
		position: absolute;
		top: 115px;
		left: 536px;
		z-index: 2;
		display: none;
		min-width: 300px;
		padding: 0;
		background-color: $color-white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}
}

.catalog-list__good-list__list-item {
	padding: 15px 10px;
	border-bottom: 1px solid rgba(51, 51, 51, 0.2);

	@include mobile {
		margin-bottom: 20px;
	}
}

.catalog-list__title {
	position: relative;
	margin: 0;
	padding: 10px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.catalog-list__item-list {
	display: none;
	list-style: none;

	&--active {
		display: block;
	}

	@include mobile {
		padding-left: 20px;
	}

	&--header {
		position: absolute;
		top: 0;
		left: 300px;
		min-width: 300px;
		padding: 0;
		background-color: $color-white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}
}

.catalog-list__item {
	position: relative;
	padding: 5px 10px;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(51, 51, 51, 0.2);
	}

	@include mobile {
		margin-bottom: 9px;
	}

	&--active {
		.catalog-list__item-list {
			display: block;
		}
	}
}

.catalog-list__item-list__title {
	margin: 0;
	padding: 10px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
}

.catalog-list__goods-list {
	display: none;
	list-style: none;

	@include mobile {
		padding-left: 20px;
	}

	&--active {
		display: block;
	}

	&--header {
		position: absolute;
		top: 0;
		left: 300px;
		min-width: 300px;
		padding: 0;
		background-color: $color-white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}
}

.catalog-list__good-list__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
	text-decoration: none;
	color: $color-gray;
}

.card-item__catalog {
	max-width: 100%;
	margin-bottom: 15px;
}

.catalog__image {
	width: 100%;
}

.catalog-list__button {
	position: absolute;
	top: 19px;
	right: 11px;
	width: 15px;
	height: 15px;
	background-color: rgba(51, 51, 51, 0.2);
	mask-image: url("../images/sprite.svg#arrow-down");
	border: none;
	cursor: pointer;
}

.catalog-list__item-list-item {
	position: relative;
	padding: 5px 10px;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(51, 51, 51, 0.2);
	}
}
