.color-splide__item {
	width: 70px;
	height: 40px;
	margin: 0 10px;
	border-radius: 6px;

	&--1 {
		background-color: #dff8cd;
	}

	&--2 {
		background-color: #333333;
	}

	&--3 {
		background-color: #b06f23;
	}
}
