.contacts__map {
	padding: 40px 0 0;

	@include tablet {
		padding: 0;
	}

	@include mobile {
		padding: 0;
	}
}

.contacts__list {
	margin: 0;
	padding: 31px 0 0;
	list-style: none;
}

.contacts__list-item {
	margin-bottom: 20px;
}

.contacts__title {
	margin: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
}

.contacts__text {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
}

.contacts__text-span {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: rgba(51, 51, 51, 0.8);
}

.contacts__container-text {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include tablet {
		padding: 20px;
	}

	@include mobile {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		padding: 20px;
	}
}

.contacts__wrapper-text {
	padding: 33px 0 62px 16px;
	border-right: 1px solid rgba(51, 51, 51, 0.2);

	@include tablet {
		padding: 0 20px;
	}

	@include mobile {
		padding: 0;
		border-right: none;
		border-bottom: 1px solid rgba(51, 51, 51, 0.2);

		&--right {
			border: none;
		}
	}

	&--right {
		padding: 33px 0 62px 115px;
		border: none;
	}
}

.contacts__form-section {
	background-color: #edeef0;
	background-image: url("../images/contacts-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.contacts__form-title {
	grid-column: 1/2;
	margin: 0 0 30px;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
}

.contacts__form-subtitle {
	grid-column: 1/2;
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: $color-gray;
}

.contacts__form-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include mobile {
		grid-template-columns: 1fr;
	}
}

.contact__form {
	grid-column: 1/2;
	padding: 30px 0 0;
}

.contacts__form-wrapper {
	padding: 60px 0 132px 16px;

	@include mobile {
		padding: 40px 20px;
	}
}

.contacts__form__span {
	color: $color-gray;
}

.contacts__form-input {
	color: $color-gray;
	background-color: $color-white;
}

.contacts__form__input-checkbox {
	position: relative;
	border: 1px solid #b6b6b8;

	&:checked {
		background-image: none;

		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: 3px;
			width: 17px;
			height: 17px;
			background-color: #b6b6b8;
			mask-image: url("../images/sprite.svg#check");
		}
	}
}

.contacts__text-area {
	padding: 10px 10px 13px;
	font-size: 16px;
	line-height: 18px;
	font-family: "Lato-Regular", sans-serif;
	color: $color-gray;
	border: none;
	border-radius: 6px;
	resize: none;
}

.contacts__link {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	font-family: "Lato-Semibold", sans-serif;
	text-decoration: none;
	color: $color-gray;
}
