.header__section {
	&--color {
		background-color: $color-gray;
	}
}

.header__logo {
	filter: brightness(0.1);
}

.header__logo-link {
	flex-shrink: 0;

	@include mobile {
		margin-right: auto;
	}
}

.header__nav {
	display: flex;
	justify-content: space-between;
	padding: 4px 0;

	@include mobile {
		display: none;
	}
}

.header__nav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
}

.header__nav-list-item {
	margin-right: 21px;

	&:last-child {
		margin: 0;
	}
}

.header__nav-link {
	box-sizing: border-box;
	padding: 5px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
	text-decoration: none;
	color: $color-white;

	&:hover,
	&:active {
		color: rgba(255, 255, 255, 0.7);
	}
}

.header__navbar {
	display: flex;
	align-items: center;
	padding: 11px 0 0;
	font-family: "Lato-Regular", sans-serif;

	@include mobile {
		padding: 9px 20px 10px;
	}
}

.header__navbar-link {
	box-sizing: border-box;
	margin-right: 13px;
	padding: 5px 5px 5px 27px;
	font-weight: 400;
	text-decoration: none;
	color: $color-gray;

	@include mobile {
		margin: 0 10px 0 0;
		padding: 15px;

		&--catalog {
			margin-right: 0;
		}

		&::before {
			top: 4px;
			left: 5px;
			width: 22px;
			height: 22px;
		}
	}

	&:last-child {
		margin: 0;

		@include mobile {
			margin-right: 10px;
		}
	}

	&:not(.header__navbar-link--catalog) {
		&:hover,
		&:active {
			color: rgba(128, 128, 128, 0.8);
		}
	}

	&--favorite {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 9px;
			left: 1px;
			display: block;
			width: 17px;
			height: 16px;
			background-image: url("../images/sprite.svg#heart");
			background-repeat: no-repeat;
		}
	}
}

.header__navbar-link--by {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 7px;
		left: 3px;
		display: block;
		width: 20px;
		height: 20px;
		background-image: url("../images/sprite.svg#by");
		background-repeat: no-repeat;
	}
}

.header__navbar-link--catalog {
	position: relative;
	margin: 0 20px;
	padding: 6px 16px 8px 35px;
	color: $color-white;
	background-color: $color-green;
	border-radius: 6px;

	&:hover,
	&:active {
		filter: drop-shadow(0 0 15px rgba(93, 218, 4, 0.2));
	}

	&:focus-visible {
		outline: 2px solid #000000;
	}

	&::before {
		content: "";
		position: absolute;
		top: 11px;
		left: 12px;
		display: block;
		width: 16px;
		height: 16px;
		background-image: url("../images/sprite.svg#burger");
		background-repeat: no-repeat;
	}

	@include mobile {
		order: 1;
		background-color: transparent;
		border: none;

		&::before {
			background-image: url("../images/sprite.svg#burger-black");
		}
	}
}

.header__search-label {
	position: relative;
	display: flex;
	flex-grow: 1;

	&::before {
		content: "";
		position: absolute;
		top: 11px;
		left: 13px;
		display: block;
		width: 15px;
		height: 20px;
		background-image: url("../images/sprite.svg#search");
		background-repeat: no-repeat;
	}

	@include mobile {
		display: none;
	}
}

.header__search-input {
	flex-grow: 1;
	box-sizing: border-box;
	max-width: 600px;
	padding: 9px 10px 9px 38px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-radius: 6px;
}

.header__navbar-link-span {
	@include mobile {
		display: none;
	}
}

.header-catalog-menu__search-label {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 3;
	display: none;
	width: stretch;
	padding: 0 20px;
}

.header-catalog-menu__search-input {
	position: relative;
	box-sizing: border-box;
	width: stretch;
	padding: 9px 19px 7px 39px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Lato-Regular", sans-serif;
	background-image: url("../images/sprite.svg#search");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 20px 20px;
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-radius: 6px;
}
