.info {
	background-image: url("../images/bgewys.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.info__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 103px 0 92px 14px;
}

.info__title {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
}

.info-span {
	color: $color-green;
}

.info__text {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 22px;
	color: $color-gray;
}

.info__wrapper-left {
	grid-column: 1/2;
	padding: 40px 20px 0 0;
}

.info__list {
	margin: 0;
	padding: 8px 0 0 21px;
	list-style: none;

	&--right {
		margin: 0;
		padding: 1px 4px 0 0;
		list-style: none;
	}

	&--bottom {
		padding: 0 10px 0 0;
	}
}

.info__wrapper-right {
	padding: 40px 0 0 8px;
}

.info__text-right {
	margin: 0 0 11px;
	font-size: 16px;
	line-height: 22px;
	color: $color-gray;
}

.info__color-text {
	font-size: 24px;
	line-height: 28px;
	color: $color-green;
}
