.layout {
	display: inline-block;
	grid-column: 2/3;
	margin-left: auto;

	@include mobile {
		display: flex;
	}
}

.layout__button {
	width: 25px;
	height: 16px;
	background-color: transparent;
	background-image: url("../images/sprite.svg#button-rows");
	border: none;
	cursor: pointer;

	@include mobile {
		display: none;
	}

	&--columns {
		width: 20px;
		background-image: url("../images/sprite.svg#button-columns");

		@include mobile {
			display: block;
		}
	}

	&--filter {
		display: none;
		width: 20px;
		background-image: url("../images/sprite.svg#button-filter");

		@include mobile {
			display: block;
		}
	}

	&--one-columns {
		display: none;

		@include mobile {
			display: block;
			width: 20px;
			background-image: url("../images/sprite.svg#button-one-columns");
		}
	}
}
