.novelty-card-containter {
	padding: 43px 0 95px;

	@include mobile {
		padding: 20px 10px 33px;
	}
}

.novelty__card-header {
	@include mobile {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		font-family: "Montserrat-SemiBold", sans-serif;
	}
}
