.product__tabs {
	position: relative;
	min-height: 330px;
	padding: 30px 0 0;

	&::before {
		content: "";
		position: absolute;
		top: 78px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $color-gray;
		opacity: 0.2;
	}
}

.product__tabs-text {
	display: none;
	padding: 30px 0;
	font-size: 16px;
	line-height: 140%;
	font-family: "Lato-Regular", sans-serif;
	color: $color-gray;
}

.product__tabs-text > p {
	margin: 0 0 10px;
	padding: 0;
}

.product__radio-input {
	@include visibility-a11y;

	&--1 {
		&:checked ~ .product__tabs-text--1 {
			display: block;
		}

		&:checked ~ .product__tabs-label--1 {
			&::before {
				content: "";
				position: absolute;
				top: 45px;
				left: -8px;
				width: 140px;
				height: 1px;
				background-color: $color-gray;
			}
		}
	}

	&--2 {
		&:checked ~ .product__tabs-text--2 {
			display: block;
		}

		&:checked ~ .product__tabs-label--2 {
			&::before {
				content: "";
				position: absolute;
				top: 37px;
				left: -8px;
				width: 140px;
				height: 1px;
				background-color: $color-gray;
			}
		}
	}

	&--3 {
		&:checked ~ .product__tabs-text--3 {
			display: block;
		}

		&:checked ~ .product__tabs-label--3 {
			&::before {
				content: "";
				position: absolute;
				top: 37px;
				left: -8px;
				width: 140px;
				height: 1px;
				background-color: $color-gray;
			}
		}
	}
}

.product__tabs-label {
	position: relative;
	margin-right: 60px;
	font-weight: 600;
	font-size: 24px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
	cursor: pointer;
}

.product__title {
	margin: 0 0 10px;
	padding: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	font-family: "Lato-Semibold", sans-serif;
	color: $color-gray;
}

.product__articul {
	margin: 0 0 16px;
	font-size: 14px;
	color: rgba(51, 51, 51, 0.2);
}

.product__price {
	margin: 0 0 15px;
	font-weight: 600;
	font-size: 32px;
	font-family: "Montserrat-SemiBold", serif;
	color: $color-gray;
}

.product__scope {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.product__scope-button {
	position: relative;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;

	&:active {
		&::before {
			background-color: rgba(184, 184, 184, 0.2);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background-image: url("../images/sprite.svg#icon-minus");
		background-repeat: no-repeat;
		background-position: center;
	}

	&--plus {
		&::before {
			background-image: url("../images/sprite.svg#icon-plus");
		}
	}
}

.product__scope-quantity {
	margin: 0 10px;
	font-size: 16px;
	color: $color-gray;
}

.product__buttons-defer {
	margin-right: 20px;
	padding: 9px 43px;
	font-size: 16px;
	line-height: 140%;
	font-family: "Lato-Regular", sans-serif;
	color: $color-white;
	background: linear-gradient(41deg, #5dda04 70.6%, #aef26b 100%);
	border: none;
	border-radius: 6px;

	&:hover {
		box-shadow: 0 0 15px 0 rgba(93, 218, 4, 0.25);
	}
}

.product__buttons-link {
	padding: 9px 15px;
	font-size: 16px;
	line-height: 140%;
	text-decoration: none;
	color: $color-green;
}

.product__advantages-list {
	margin: 0 0 30px;
	padding: 0;
	list-style: none;
}

.product__advantages-text {
	font-size: 14px;
	font-family: "Lato-Italic", sans-serif;
	color: $color-gray;
}

.product__advantages-list-item {
	position: relative;
	padding-left: 23px;

	&::before {
		content: "";
		position: absolute;
		top: 2px;
		left: 0;
		width: 20px;
		height: 20px;
		background-image: url("../images/sprite.svg#arrow-green");
		background-repeat: no-repeat;
		background-position: center;
	}
}

.product__container-card {
	padding: 60px 0 100px;
}

.product__color {
	margin-bottom: 15px;
}

.product__color-input {
	position: relative;
	width: 70px;
	height: 40px;
	margin: 0 0 15px;
	padding: 0;
	appearance: none;

	&:checked {
		&::before {
			outline: 2px solid $color-green;
			outline-offset: -2px;
		}
	}

	&--1 {
		&::before {
			background-color: #dff8cd;
		}
	}

	&--2 {
		&::before {
			background-color: #333333;
		}
	}

	&--3 {
		&::before {
			background-color: #b06f23;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		width: 70px;
		height: 40px;
		border-radius: 6px;
	}
}

.product__size-input {
	position: relative;
	width: 70px;
	height: 40px;
	margin: 0;
	padding: 0;
	appearance: none;

	&:checked {
		&::before {
			border: 2px solid $color-green;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		width: 70px;
		height: 40px;
		border-radius: 6px;
	}
}

.product__size-label {
	position: absolute;
	top: 8px;
	left: 13px;
	z-index: -1;
}

.product__input-title {
	font-size: 16px;
	line-height: 140%;
}

.product__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 40px 0 0;
}

.product__image-container {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 0 30px;
}

.product__image-splide-list {
	flex-direction: column;
}

.product__splide {
	padding: 30px 0;
}

.product__arrow--prev {
	top: 0 !important;
	left: 40px !important;
	transform: rotate(90deg) !important;
}

.product__arrow--next {
	bottom: 18px !important;
	left: 40px !important;
	transform: rotate(90deg) !important;
}

.product__splide-image {
	border-radius: 6px;
}

.product__size {
	margin-bottom: 25px;
}

.product__buttons {
	display: flex;
}

.product__card-button-list {
	top: 21px;
	right: auto;
	left: 291px;
}
