.promo__wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 60px 0 0 15px;

	@include mobile {
		display: block;
		padding: 0;
	}
}

.promo__left-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 10px;
	grid-row: 1/2;
	grid-column: 1/2;

	@include mobile {
		grid-template-columns: 1fr;
		padding-top: 40px;
	}
}

.promo__right-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px 0;
	padding-left: 10px;

	@include mobile {
		grid-template-columns: 1fr;
		grid-gap: 0;
		padding: 0;
	}
}

.promo__bottom-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0 15px;
	grid-row: 2/3;
	grid-column: 1/-1;
	padding-top: 40px;

	@include mobile {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
		max-width: 300px;
		margin: 0 auto;
		padding: 0 10px;
	}
}

.promo__bottom-container > .promo__link {
	@include mobile {
		min-width: 130px;
		min-height: 130px;
		padding: 0;
	}
}

.promo__link {
	position: relative;
	display: block;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	color: $color-white;
	border-radius: 6px;

	@include mobile {
		min-width: 280px;
		min-height: 302px;
		margin: 0 auto 20px;
		background-size: 100%;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 10px;
		left: 320px;
		width: 40px;
		height: 40px;
		background-image: url("../images/sprite.svg#arrow-card");

		@include mobile {
			left: 230px;
		}
	}

	&--hits,
	&--sale {
		max-width: 400px;
		min-height: 400px;
	}

	&--hits {
		background-image: url("../images/hits.webp");
		background-repeat: no-repeat;
	}

	&--sale {
		background-image: url("../images/action.webp");
		background-repeat: no-repeat;
	}

	&--print {
		background-image: url("../images/print.webp");
		background-repeat: no-repeat;

		&::after {
			background-color: $color-gray;
			background-image: none;
			mask-image: url("../images/sprite.svg#arrow-card");
		}

		@include mobile {
			min-width: 280px;
			min-height: 140px;
			margin: 0 auto 20px;
			background-size: 100%;
		}
	}

	&--delivery {
		background-image: url("../images/delivery.webp");
		background-repeat: no-repeat;

		@include mobile {
			min-width: 280px;
			min-height: 140px;
			margin: 0 auto 20px;
			background-size: 100%;
		}
	}

	&--bottom {
		max-width: 170px;
		min-height: 170px;
		font-size: 16px;
		line-height: 20px;
		color: $color-gray;

		&::after {
			content: none;
		}
	}

	&--womans {
		background-image: url("../images/womans.webp");
		background-repeat: no-repeat;
	}

	&--mans {
		background-image: url("../images/mens.webp");
		background-repeat: no-repeat;
	}

	&--hats {
		background-image: url("../images/hat.webp");
		background-repeat: no-repeat;
	}

	&--underwears {
		background-image: url("../images/underwear.webp");
		background-repeat: no-repeat;
	}

	&--accessories {
		background-image: url("../images/accessories.webp");
		background-repeat: no-repeat;
	}

	&--jackets {
		background-image: url("../images/jacket.webp");
		background-repeat: no-repeat;
	}
}

.promo__link-span {
	display: block;
	padding: 357px 0 0 10px;

	@include mobile {
		padding: 258px 0 0 10px;
	}

	&--right-block {
		padding: 141px 0 0 10px;

		@include mobile {
			padding: 97px 0 0 10px;
		}
	}

	&--right-block-color {
		color: $color-gray;
	}

	&--bottom {
		padding: 7px 0 0 7px;

		@include mobile {
			padding: 10px 0 0 10px;
			font-size: 14px;
			line-height: 17px;
		}
	}
}
