.sales__containter {
	padding: 100px 0 0 30px;
}

.sales__header {
	margin: 0;
	padding: 0;
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	color: $color-gray;
}

.sales__span {
	color: $color-green;
}

.sales__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 10px;
	padding-top: 40px;
}

.sales__image {
	position: relative;
	border-radius: 6px;
}

.sales__title {
	margin: 0;
	padding: 10px 0 4px;
	font-size: 16px;
	line-height: 22px;
	color: $color-gray;
}

.sales__articul {
	color: rgba(51, 51, 51, 0.2);
}

.sale__price {
	font-weight: 600;
	font-size: 24px;
	font-family: "Montserrat-SemiBold", serif;
}

.sales__item {
	position: relative;
	max-width: 270px;
	margin-bottom: 20px;

	&:hover {
		.sales__buttons-list {
			display: block;
		}
	}
}

.sales__note {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.sale__price-old {
	font-size: 16px;
	text-decoration: line-through;
	color: rgba(51, 51, 51, 0.5);
}

.sales__link {
	position: relative;
	display: block;
	max-width: 110px;
	margin-left: auto;
	padding-right: 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: $color-gray;

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		right: 30px;
		width: 20px;
		height: 20px;
		background-color: $color-gray;
		mask-image: url("../images/sprite.svg#arrow-card");
	}
}

.sales__buttons-list {
	position: absolute;
	top: 10px;
	right: 23px;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	color: $color-white;
}

.sales__button-note {
	margin-right: 5px;
	padding: 3px 8px;
	background-color: rgb(172, 172, 172, 0.6);
	border-radius: 6px;
}

.sales__buttons-item {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.sales__button {
	width: 30px;
	height: 30px;
	background-color: rgb(172, 172, 172, 0.6);
	border: none;
	border-radius: 6px;
}
