.sorting {
	display: flex;
	grid-column: 2/3;
	padding: 80px 0 0;

	@include mobile {
		padding: 0;
	}
}

.sorting__select {
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	font-family: "Lato-Regular", sans-serif;
	color: $color-gray;
	background-color: $color-white;
	border: none;
	border-radius: 6px;
}
