.swiper-content {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	&--one {
		background-image: url("../images/banner-1.webp");
	}

	&--two {
		background-image: url("../images/banner-2.webp");
	}

	&--tree {
		background-image: url("../images/banner-3.webp");
	}

	&--for {
		background-image: url("../images/banner-4.webp");
	}

	@include mobile {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			background-color: rgba(0, 0, 0, 0.4);
		}

		&--one {
			background-image: url("../images/banner-1-mob.jpg");
		}

		&--two {
			background-image: url("../images/banner-2-mob.jpg");
		}

		&--tree {
			background-image: url("../images/banner-3-mob.jpg");
		}

		&--for {
			background-image: url("../images/banner-4-mob.jpg");
		}
	}
}

.swiper-content__title {
	padding: 0;
	font-weight: 900;
	font-family: "Lato-Heavy", sans-serif;
	text-transform: uppercase;

	@include mobile {
		font-family: "Lato-Bold", sans-serif;
	}

	&--one {
		margin: 0 0 26px;
		padding-top: 64px;
		font-size: 65px;
		line-height: 71px;
		color: $color-gray;

		@include mobile {
			margin: 0 0 29px;
			font-size: 27px;
			line-height: 32px;
			color: $color-white;
		}
	}

	&--two {
		margin: 0 0 30px;
		font-size: 61px;
		line-height: 61px;
		text-align: center;
		color: $color-white;
	}

	&--tree {
		margin: 0 0 30px;
		font-size: 80px;
		line-height: 80px;
		text-align: center;
		color: $color-white;

		@include mobile {
			margin: 0 0 146px;
			font-weight: 900;
			font-size: 62px;
			line-height: 53px;
			text-align: center;
		}
	}

	&--for {
		margin: 0 0 30px;
		font-size: 80px;
		line-height: 80px;
		text-align: center;
		color: $color-white;

		@include mobile {
			margin: 0 0 36px;
			padding-left: 24px;
			font-size: 41px;
			line-height: 49px;
			text-align: left;
		}
	}
}

.swiper-content__subtitle {
	@include mobile {
		margin: 0;
		padding: 0;
		font-size: 17px;
		line-height: 26px;
	}

	&--one {
		margin: 0 0 6px;
		padding-left: 99px;
		font-weight: 400;
		font-size: 30px;
		line-height: 45px;
		font-family: "Lato-Regular", sans-serif;
		color: $color-white;

		@include mobile {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&--two {
		margin: 0;
		font-weight: 400;
		font-size: 40px;
		line-height: 50px;
		font-family: "Caveat-Regular", sans-serif;
		text-align: center;
		color: $color-white;

		@include mobile {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&--for {
		font-weight: 400;
		font-size: 30px;
		line-height: 40px;
		font-family: "Lato-Regular", sans-serif;
		color: $color-white;

		@include mobile {
			padding-left: 25px;
		}
	}
}

.swiper-content__text-wrapper {
	max-width: 670px;
	margin: 0 auto;

	@include mobile {
		padding: 121px 0 82px;
		text-align: left;
	}

	&--one {
		margin: 0 0 0 auto;
		padding: 8px 15px 33px 0;

		@include mobile {
			position: relative;
			padding: 24px 20px 80px;
		}
	}

	&--two {
		padding: 130px 0 101px;
	}

	&--tree {
		margin: 0 0 0 auto;
		padding: 120px 15px 153px;
	}

	&--for {
		max-width: 540px;
		padding: 87px 0 93px;
	}
}

.swiper-content__subtitle-span {
	@include mobile {
		padding: 0;
		text-align: center;

		&--for {
			color: #8fa9ff;
		}
	}

	&--one {
		font-weight: 900;
		font-size: 36px;

		@include mobile {
			font-size: 17px;
		}
	}

	&--two {
		color: #6a71b4;
	}

	&--tree {
		color: #434873;

		@include mobile {
			font-size: 39px;
			line-height: 50px;
			color: #8fa9ff;
		}
	}
}

.swiper__content-link {
	display: block;
	max-width: 140px;
	margin: 23px 272px 40px auto;
	padding: 6px 9px 6px 7px;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	color: $color-white;
	background-color: transparent;
	border: 2px solid $color-white;
	border-radius: 6px;

	@include mobile {
		max-width: 270px;
		background-color: $color-green;
		border: none;

		&--for {
			margin: 73px auto 0;
		}
	}

	&--one {
		@include mobile {
			margin: 129px auto 0;
		}
	}

	&--two {
		margin: 77px auto 0;
	}

	&--for {
		margin: 30px auto 0;
	}
}

.swiper__content-link-note {
	display: block;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-align: right;
	color: $color-white;

	@include mobile {
		position: absolute;
		top: 281px;
		left: 19px;
		font-size: 12px;
	}
}

.swiper-content__subtitle > span {
	@include mobile {
		color: $color-white;
	}
}
